<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.datamanagement"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.datamanagement.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name="com.example.datamanagement.LineActivity"
            android:label="@string/title_activity_graph_data" >
        </activity>
        <activity
            android:name="com.example.datamanagement.StoreActivity"
            android:label="@string/title_activity_store" >
        </activity>
        <activity
            android:name="com.example.datamanagement.RetrieveActivity"
            android:label="@string/title_activity_retrieve" >
        </activity>
        <activity
            android:name="com.example.datamanagement.LineChart"
            android:label="@string/title_activity_line_chart" >
        </activity>
        <activity
            android:name="com.example.datamanagement.PieActivity"
            android:label="@string/title_activity_pie" >
        </activity>
        <activity
            android:name="com.example.datamanagement.SongActivity"
            android:label="@string/title_activity_song" >
        </activity>
        <activity
            android:name="com.example.datamanagement.ArtistActivity"
            android:label="@string/title_activity_artist" >
        </activity>
        <activity
            android:name="com.example.datamanagement.GenreActivity"
            android:label="@string/title_activity_genre" >
        </activity>
    </application>

</manifest>
