<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heartrateadjuster" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.heartrateadjuster.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name="com.example.heartrateadjuster.LineActivity"
            android:label="@string/title_activity_graph_data" >
        </activity>
        <activity
            android:name="com.example.heartrateadjuster.SongActivity"
            android:label="@string/title_activity_song" >
        </activity>
        <activity
            android:name="com.example.heartrateadjuster.ArtistActivity"
            android:label="@string/title_activity_artist" >
        </activity>
        <activity
            android:name="com.example.heartrateadjuster.GenreActivity"
            android:label="@string/title_activity_genre" >
        </activity>
        <activity
            android:name="com.example.heartrateadjuster.StatisticsActivity"
            android:label="Statistics Activity" >
        </activity>
    </application>

</manifest>
